body, *, *:before, *:after {
	box-sizing: border-box;
} 

html, body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	color: #474747;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6, .title {
	font-family: "Economica", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 1em; 
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.2rem;
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none; 
}

a:hover, a:visited, a:active {
	text-decoration: none;
	color: inherit;
}

p {
	margin: 0.5em 0;
	line-height: 1.3;
}

.fixed-width {
	width: 940px;
	margin: 0 auto; 
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
} 

.clearfix:after{
	clear: both;
}

.data-block {
	margin-bottom: 3rem;
}

/* HEADER STYLING NEXT */

.page-header {
	border-top: 5px solid darkblue;
	padding-bottom: 2em;
}

	.page-header > div {
		position: relative;
	}

	.page-header .identity {
		font-family: "Pacifico", cursive;
  		font-size: 3.5em;
  		position: absolute;
  		bottom: 0;
	}

	.page-header nav {
		float: right;
		font-family: "Economica", sans-serif;
		text-transform: uppercase;
	}

	.page-header nav li {
		color: #bfbfbf;
		float: left;
		margin-right: 3rem;
		padding-top: 3rem;
	}

	.page-header nav li:last-child {
		margin-right: 0;
	}

	.page-header nav li em {
		display: block;
		color: #474747;
		font-size: 1.6em;
	}

/* VISUAL STYLING NEXT */
	
.visual {}

	.visual img {
		display: block;
	}

	.visual figcaption {
		background-color: #f6f6f6;
		padding: 0.5em 1em;
	}

	.visual figcaption > strong {
		font-size: 1.4em;
	}

.article{
	float: left;
	width: 30%;
	margin-right: 5%;
}

	.article:last-child {
		margin-right: 0;
	}

	.article header > i {
		font-size: 2.5rem;
		font-weight: bold;
		color: #9a9a9a;
		float: left;
		width: 25%;
	}

	.article header > h2 {
		float: left;
		width: 75%;
	}

/* FOOTER STYLING NEXT */

.page-footer:before{
	content: "";
	display: block;
	height: 10px;
	background: url(../images/pattern.png) left top repeat-x;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: 1;
}

.page-footer:after {
	content: "";
	display: block;
	height: 10px;
	background: rgba(255, 255, 255, 0.05);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: 0;
}

.page-footer {
	background-color: rgba(0, 0, 139, 0.85);
	color: #bfbfbf;
	font-size: 1.1rem;
	height: auto;
	margin-top: auto;
	position: relative;
}

	.page-footer .copyright {
		float: left;
		margin-bottom: 30px;
	}

	.page-footer .credits {
		float: right;
		margin-bottom: 30px;
	}

	.page-footer .meme-gif {
   		width: 50px; 
    	height: auto;
    	margin-top: -10px;
	}

.page-footer a {
	color: #FFFFFF;
}

.page-footer-content {
	padding: 1em 0;
	display: flex;
	align-items: center;
    justify-content: space-between;
}